<h4>selectedCountry : {{selectedCountry}}</h4>

<app-auto-complete  [(ngModel)]="selectedCountry" (ngModelChange)="onCountryChange()" [options]="countries" label="Country"></app-auto-complete>

<!-- <div>
  <label for="country">Country:</label>
  <select id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
    <option *ngFor="let country of countries" [value]="country.id">{{ country.label }}</option>
  </select>
</div> -->

<div>
  <label for="state">State:</label>
  <select id="state" [(ngModel)]="selectedState" (change)="onStateChange()">
    <option *ngFor="let state of states" [value]="state.id">{{ state.label }}</option>
  </select>
</div>

<div>
  <label for="city">City:</label>
  <select id="city" [(ngModel)]="selectedCity">
    <option *ngFor="let city of cities" [value]="city.id">{{ city.label }}</option>
  </select>
</div>
