<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    class="container-fluid py-3"
    #form="ngForm"
    (ngSubmit)="submitForm(form)"
  >
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput name="name" ngModel required />
        </mat-form-field>
      </div>

      <div class="col-md-12">
          <mat-label>Gender</mat-label>
          <mat-radio-group name="gender" ngModel required class="w-100">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput type="number" name="age" ngModel required />
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Mobile</mat-label>
          <input
            matInput
            type="tel"
            name="mobile"
            ngModel
            required
            pattern="^[0-9]{10}$"
          />
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Street</mat-label>
          <input matInput name="street" ngModel required />
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Country</mat-label>
          <input
            matInput
            name="country"
            (input)="filterOptions($event, countrySearch)"
            ngModel
            required
            [matAutocomplete]="countryAuto"
          />
          <mat-autocomplete
            [displayWith]="displayWith.bind(this)"
            (optionSelected)="filterStatesByCountry($event)"
            #countryAuto="matAutocomplete"
          >
            @for (country of countries$ | async; track country.id) {
            <mat-option [value]="country">{{ country.label }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>State</mat-label>
          <input
            matInput
            name="state"
            (input)="filterOptions($event, statesSearch)"
            ngModel
            required
            [matAutocomplete]="stateAuto"
          />
          <mat-autocomplete
            [displayWith]="displayWith.bind(this)"
            (optionSelected)="filterCitiesByState(form)"
            #stateAuto="matAutocomplete"
          >
            @for (state of states$ | async; track state.id) {
            <mat-option [value]="state">{{ state.label }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>City</mat-label>
          <input
            matInput
            name="city"
            (input)="filterOptions($event, citiesSearch)"
            ngModel
            required
            [matAutocomplete]="cityAuto"
          />
          <mat-autocomplete
            [displayWith]="displayWith.bind(this)"
            #cityAuto="matAutocomplete"
          >
            @for (city of cities$ | async; track city.id) {
            <mat-option [value]="city">{{ city.label }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <button mat-raised-button type="submit" color="primary">Submit</button>
    </div>
  </form>
</ion-content>
